extends layout

block content

  h1#room Games

  body
    .hidden#userid #{userid}
    .hidden#username #{username}
    .container
      .row
        .btn.btn-danger#leave Leave
      .row      
        .col-md-9.col-lg-9#playarea
          .row
            .playerarea.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              .row#playerthreecards
              .row
                p#playerthree username here
          .row
            .playerarea.col-md-4.col-lg-4
              .row#playertwocards
              .row
                p#playertwo username here
            .col-md-4.col-lg-4
              .row
                img.card(src='/images/cardBack.png')
              .row
                p#deck # cards in deck
            .playerarea.col-md-4.col-lg-4
              .row#playerfourcards
              .row
                p#playerfour username here
          .row
            .col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              button.btn.btn-success#start Start
              button.btn.btn-danger#bs BS
              button.btn.btn-info#ready Ready
              button.btn.btn-primary#draw Draw
          .row
            .col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              p timer
          .row
            .playerarea.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              .row#playeronecards
              .row
                p#playerone username here
          .row#calls
            p Calls
            form#callForm
              .col-md-5.col-lg-5
                p Quantity
                select.form-control#callQuantity
                  option one
                  option two
                  option three
                  option four
                  option five
                  option six
                  option seven
                  option eight
                  option nine
                  option ten
                  option eleven
                  option twelve
                  option thirteen
                  option fourteen
              .col-md-5.col-lg-5
                p Rank
                select.form-control#callRank
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                  option 9
                  option 10
                  option J
                  option Q
                  option K
                  option A
              .col-md-2.col-lg-2
                button.btn.btn-success#call(type='submit') Call
        .col-md-3.col-lg-3
          #settings
            p#numPlayers Current # of players:
            p#turn Player's turn:
          #lasthandcalled
            p Last Hand Called:
            p#lastHand
          #chatbox
            ul#messages
            form#chatform
              .input-group
                input.form-control#chatinput(type='text' placeholder='Chat' autocomplete='off' maxlength='30')
                .input-group-btn
                  button.btn.btn-default#send(type='submit') Send

  .modal.fade#leaveModal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h2 Leaving the game?
        .modal-body
          p Are you sure you want to leave?
          p You won't be able to rejoin after leaving
        .modal-footer
          button.btn.btn-danger#leaveModalLeave(type='button' data-dismiss='modal') Yes, I want to leave!
          button.btn.btn-success(type='button' data-dismiss='modal') No, keep playing!

  .modal.fade#callTooLowModal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Call too low!
        .modal-body
          p Call something higher!
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close

block sockets
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/games.js')