extends layout

block content
  h1 Games

  body
    .hidden#userid #{userid}
    .hidden#username #{username}
    .container
      .row
        .col-md-1.col-lg-1
          button(id='leave') Leave
        p.text-center.gameroomname Game room name here
      .row      
        .col-md-9.col-lg-9
          .row
            .playerarea.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              .row
                img(src='...' class='card img-rounded')
              .row
                p#playerthree username here
          .row
            .playerarea.col-md-4.col-lg-4
              .row
                img(src='...' class='card img-rounded')
              .row
                p#playertwo username here
            #deck.col-md-4.col-lg-4
              .row
                img(src='...' class='card img-rounded')
              .row
                p # cards in deck
            .playerarea.col-md-4.col-lg-4
              .row
                img(src='...' class='card img-rounded')
              .row
                p#playerfour username here
          .row
            .col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              .btn.btn-success#start Start
          .row
            .col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              p timer
          .row
            .playerarea.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
              .row
                img(src='...' class='card img-rounded')
              .row
                p#playerone username here
          .row
            #calls
              p calls here
        .col-md-3.col-lg-3
          #settings
            p current settings here
            p blahblahblah
          #lasthandcalled
            p last hand called here   
          #chatbox
            .row
              ul#messages
            .row
              form#chatform
                .input-group
                  input.form-control#chatinput(type='text', placeholder='Chat', autocomplete='off')
                  .input-group-btn
                    .btn.btn-default#send(type='submit') Send