extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='GET' action='/login')
    div
      label(for='username') Username: 
      input(type='text' name='username' id='username')
    div
      label(for='password') Password: 
      input(type='password' name='password' id='password')
    input(type='submit' value='Log in')

  a(onClick='register()') Or create an account here