extends layout

block content
  h1= title
  p main screen should go here
  p i.e. create and join lobby

  .container
    .row
      .col-md-6.col-lg-6
        .row
          p Create a game
          form(method='POST' action='/games' onSubmit='return checkRoomName()')
            div.form-group
              label(for='room_name') Room Name
              input.form-control#room_name(type='text' name='room_name')
            div.form-group
              label(for='password') Password (optional)
              input.form-control#password(type='password' name='password')
            input.btn.btn-default(type='submit' value='Create Game')
      .col-md-6.col-lg-6
        .row
          p Join an open game
          ul#openGames

  script(src='/javascripts/home.js')