body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*used in register.pug*/
form div.register {
	display: flex;
	flex-direction: column;
}

form div.register div.group {
	display: flex;
	flex-direction: column;
}

form div.register div.group label.field {

}

form div.register div.group input.in {
	width: 20%;
}
/*end register.pug*/