body.bodyy {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #666666;
}

ul.rules {
  list-style-type: disc;
}

#playarea {
  border: 1px solid black;
  background-color: #22aa44;
  min-width: 458px;
  min-height: 512px;
}

.cards {
  border: 1px solid white;
  text-align: center;
  min-height: 100px;
  min-width: 152px;
}

.player {
  border: 1px solid white;
  min-width: 152px;
  padding: 5px;
}

.card {
  display: inline-block;
  margin: 15px 0;
  width: 50px;
  height: auto;
}

.middle {
  min-width: 152px;
}

#calls {
  border: 1px solid yellow;
  background-color: #9cebb0;
}

#misc, #chatbox, #settings, #lasthandcalled {
  border: 1px solid red;
  background-color: white;
}

ul#messages {
  list-style-type: none;
  padding: 10px;
  min-width: 100%;
  height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
}

ul#messages li {
  padding: 5px 10px;
}

ul#messages li.system {
  color: #0061ff;
}

ul#messages li:nth-child(odd) {
  background: #eee;
}

#createGame, #joinGame {
  padding: 10px;
}

#logoimg {
  height: 100%;
}