body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.chatbox ul#messages {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

div.chatbox ul#messages li {
  padding: 5px 10px;
}

div.chatbox ul#messages li:nth-child(odd) {
  background: #eee;
}

div.chatbox input.chatinput {
  width: auto;
}

div.chatbox button.chatsend {
  width: auto;
}